/*BANNER SECTION STYLES*/
.container.redesign.banner {
  background: url(../images/guest_listing.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
  padding: 0;
  position: relative;
  width: 100%;
}
.container.redesign.mobile-phone {
  display: none;
  padding: 10px 0;
}
.container.redesign.mobile-phone .slogan {
  font-size: 20px;
}
.container.redesign.mobile-phone .col {
  text-align: center;
}
.container.redesign.mobile-phone .col p {
  margin: 0;
}
.container.redesign.banner .underlay {
  background: rgba(0,0,0,0.1);
  box-shadow: 0px 0px 75px rgba(0,0,0,1);
  border-radius: 15px;
  height: 109px;
  left: 50%;
  margin: 162px 0 0 -315px;
  position: absolute;
  width: 630px;

}
.container.redesign.banner .row.caption {
  color: #50B8E3;
  font-family: 'Berkshire Swash', cursive;
  font-size: 90px;
  margin: 140px 0 0 0;
  text-align: center;
  text-shadow: 1px 1px 0 #fff,
    -1px 1px 0 #fff,
    1px -1px 0 #fff,
    -1px -1px 0 #fff,
    0px 1px 0 #fff,
    0px -1px 0 #fff,
    -1px 0px 0 #fff,
    1px 0px 0 #fff;
}
.container.redesign.banner .row.logo-banner {
  background: #fff;
  bottom: 0;
  box-shadow: 0 1px 3px 2px rgba(0,0,0,0.15);
  height: 60px;
  margin: 0;
  padding: 3px;
  position: absolute;
  text-align: center;
  width: 100%;
}
.container.redesign.banner .row.logo-banner.pinned {
  position: fixed;
  top: 61px;
  z-index: 1000;
}
.container.redesign.banner .row.logo-banner .col {
  display: inline-block;
}
.container.redesign.banner .row.logo-banner .col.teamCarter {
  float: left;
}
.container.redesign.banner .row.logo-banner .col.fathom {
  float: right;
}
.container.redesign.banner .row.logo-banner .col .slogan {
  font-size: 26px;
  margin: 0;
  padding-top: 6px;
}
.container.redesign.banner .row.logo-banner .col.teamCarter,
.container.redesign.banner .row.logo-banner .col.fathom {
  border: 2px solid #000;
}
.container.redesign.banner .row.logo-banner .col.teamCarter:hover,
.container.redesign.banner .row.logo-banner .col.fathom:hover {
  border: 2px solid #50B8E3;
}

.container.redesign.banner .row.logo-banner .col .slogan span {
  color: #50B8E3;
}

/*ABOUT SECTION STYLES*/
.container.redesign.about {
  background: #34495e;
  color: #ecf0f1;
  width: 100%;
}
.container.redesign.about .row.bilingual {
  padding-top: 0;
  text-align: center;
}
.container.redesign.about .row.bilingual p {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 0 50px 10px;
}
.container.redesign.about .row {
  padding: 70px 0 20px;
}
.container.redesign.about .row .team-card {
  text-align: center;
}
.container.redesign.about .row .team-card .title {
  color: #50B8E3;
  font-size: 30px;
  font-weight: bold;
  padding: 30px 0 0;
}
.container.redesign.about .row .team-card img {
  border: 1px solid #50B8E3;
  border-radius: 50%;
  height: auto;
  width: 75%;
}
.container.redesign.about .row .team-card .copy {
  padding: 20px 10px 0;
}
.container.redesign.about .row .team-card img.fathom {
  border-radius: 0;
}

/*SEARCH SECTION STYLES*/
.container.redesign.search {
  background: #517394;
  margin: 0;
  padding: 50px 0 70px;
  width: 100%;
}
.container.redesign.search p {
  color: #50B8E3;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}
.container.redesign.search .search-button,
.container.redesign.search .realEstate-button {
  background: #50B8E3;
  border-radius: 10px;
  box-shadow: 0px 3px 13px rgba(0,0,0,0.2);
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 15px;
  font-weight: bold;
  margin: 0 auto;
  padding: 25px 0 24px;
  text-align: center;
  text-transform: uppercase;
  max-width: 400px;
}
.container.redesign.search .realEstate-button {
  margin-bottom: 15px;
}
.container.redesign.search .search-button:hover,
.container.redesign.search .realEstate-button:hover {
  background: #7bc9ea;
}

.container.redesign.search .search-form {
  display: none;
  padding-top: 30px;
}
.container.redesign.search iframe {
  border: 3px solid #34495e;
  display: block;
  height: 1000px;
  margin: 0 auto;
  width: 1000px;
}

/*FEATURED PROPERTIES STYLES*/
.featured-properties.redesign {
  background: #34495e;
  padding-top: 60px;
}
.featured-properties.redesign .title {
  color: #fff;
  text-align: center;
}
.featured-properties.redesign .title span {
  color: #50B8E3;
}

/*PARTNERS STYLES*/
.partners.redesign {
  background: #34495e;
  padding-bottom: 15px;
}
.partners.redesign .privacy {
  color: #fff;
  padding-top: 80px;
  text-align: center;
}
.partners.redesign .privacy a {
  color: #0dbae8;
  text-decoration: underline;
}
.partners.redesign .privacy a:hover {
  color: #3eccf4;
}
.partners.redesign .title {
  color: #fff;
}
.partners.redesign .partner-organizations li {
  box-shadow: 0px 0px 15px rgba(0,0,0,1);
}

/*FOOTER STYLES*/
footer.redesign {
  padding: 40px 0 0;
}
footer.redesign .container .fathom {
  color: #AF2317;
}
footer.redesign .container .team-carter {
  color: #0dbae8;
}
footer.redesign a.logo {
  display: block;
  text-align: center;
}
footer.redesign a.logo img {
  display: inline-block;
}

footer.redesign ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
footer.redesign ul li {
  font-size: 34px;
  display: inline;
}

footer.redesign ul li a.fa-facebook-square {
  color: #3B5998;
}
footer.redesign ul li a.fa-facebook-square:hover {
  color: #5a7abf;
}

footer.redesign ul li a.fa-twitter-square {
  color: #1DA1F2;
}
footer.redesign ul li a.fa-twitter-square:hover {
  color: #56b8f5;
}

footer.redesign ul li a.fa-google-plus-square {
  color: #DB4437;
}
footer.redesign ul li a.fa-google-plus-square:hover {
  color: #e37268;
}

footer.redesign ul li a.fa-youtube-square {
  color: #ff0000;
}
footer.redesign ul li a.fa-youtube-square:hover {
  color: #ff4d4d;
}

footer.redesign ul li a.fa-instagram {
  color: #C32AA3;
}
footer.redesign ul li a.fa-instagram:hover {
  color: #db57bf;
}

footer.redesign ul li a.fa-linkedin-square {
  color: #007BB5;
}
footer.redesign ul li a.fa-linkedin-square:hover {
  color: #00aeff;
}

footer.redesign ul li a.fa-pinterest-square {
  color: #BD081C;
}
footer.redesign ul li a.fa-pinterest-square:hover {
  color: #f50a26;
}

footer.redesign ul li a {
  display: inline-block;
}
footer.redesign ul li a:hover {
  text-decoration: none;
}

footer.redesign .brand {
  color: #33cc33;
}


/*RESPONSIVE STYLES*/
@media screen and (max-width: 1290px) {
  .container.redesign.banner .row.logo-banner .col .slogan {
    font-size: 20px;
    padding-top: 11px;
  }
}
@media screen and (max-width: 1100px) {
  .container.redesign.banner .row.logo-banner .col .slogan {
    font-size: 14px;
    padding-top: 15px;
  }
}
@media screen and (max-width: 900px) {
  .underlay {
    display: none;
  }
  .container.redesign.banner .row.caption {
    font-size: 65px;
  }
  .container.redesign.search iframe {
    height: 1070px;
    width: 650px;
  }
  .row.logo-banner.desk {
    display: none;
  }
  .container.redesign.mobile-phone {
    display: block;
  }
}
@media screen and (max-width: 700px) {
  .container.redesign.search iframe {
    height: 1070px;
    width: 500px;
  }
}
@media screen and (max-width: 530px) {
  .container.redesign.search iframe {
    height: 1100px;
    width: 320px;
  }
}
/*just for testing*/
.container.redesign.about div {
  /*border: 1px solid red;*/
}
/*just for testing*/
